---
import BaseLayout from "@layouts/BaseLayout.astro"
import AboutHeader from "@components/AboutHeader.astro"

import { Image } from "astro:assets"
import arrowLeft from "@assets/dot-arrow-left.png"
import arrowRight from "@assets/dot-arrow-right.png"
---

<BaseLayout title="BanffPay — About Us">
    <AboutHeader />
    <section class="px-8 md:px-16 lg:px-36 xl:px-40 py-16 md:py-24">
        <div class="flex flex-col gap-4 text-lg max-w-screen-lg mx-auto">
            <p>
                Banffpay Limited is a Financial Technology company and Money Service Business authorised in Canada by
                Financial Transactions and Reports Analysis Centre of Canada (FINTRAC).
            </p>
            <p>
                We are dedicated to revolutionizing the way payments and remittances are handled across borders. Our
                focus is on creating a seamless, safe, and reliable payment system that connects people and businesses
                globally. By ensuring affordability and transparency, we build trust and satisfaction among our
                customers.
            </p>
            <p>
                Our commitment to swift and dependable services means that transactions are not just a process but an
                experience that fosters global unity and convenience. At Banffpay, we aim to remove financial barriers
                and make cross-border payments as simple and impactful as sending a message, all in a pursuit of a
                brighter future for all.
            </p>
            <!-- <p>
                Our goal is delivering quality and fast cross-border payment to Africa by redefining service excellence,
                elevating customer experience, and driving innovation in payment system.
            </p>
            <p>
                We aspire to be a transformative forcein cross-border payment. At BanffPay, we are setting new standards
                in accessibility, quality, and innovation, all in pursuit of a brighter financial future for all.
            </p> -->
        </div>
    </section>
    <!-- MISSION AND VISION -->
    <section class="logo-bg py-32 md:py-28 px-8 md:px-16 lg:px-36 xl:px-40">
        <div class="max-w-screen-lg mx-auto flex flex-col gap-y-12 lg:gap-y-20 xl:gap-y-28">
            <div class="flex flex-wrap justify-between gap-4 lg:gap-0 lg:translate-x-10">
                <h2 class="text-4xl md:text-6xl lg:text-8xl xl:text-9xl font-bold lg:basis-2/6">Mission</h2>
                <Image src={arrowRight} alt="arrow icon" class="hidden xl:block self-center" />
                <p class="mb-4 lg:mb-0 text-gray-600 lg:text-2xl lg:basis-2/6 lg:self-center">
                    We are simplifying payments, connecting people and businesses beyond borders
                </p>
            </div>
            <div class="flex flex-wrap justify-between gap-4 lg:gap-0">
                <h2 class="text-4xl md:text-6xl lg:text-8xl xl:text-9xl font-bold lg:basis-1/2 lg:order-3">Vision</h2>
                <Image src={arrowLeft} alt="arrow icon" class="hidden xl:block self-center lg:order-2" />
                <p class="mb-4 lg:mb-0 text-gray-600 lg:text-2xl lg:basis-2/6 lg:self-center lg:order-1">
                    Touching lives with payments across borders
                </p>
            </div>
        </div>
    </section>
</BaseLayout>

<style>
    .logo-bg {
        background-image: url("../../assets/banffpay_bg.png"), url("../../assets/grid_background.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%, 40%;
    }
</style>
