@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .logo-bg {
        background-image: url("/banffpay_bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%;
    }
}
