---
const { item } = Astro.props
---

<li
    class="link-buttons py-3.5 pl-6 rounded-full text-sm font-medium text-nowrap text-ellipsis overflow-hidden cursor-pointer mr-2 transition-all"
    id={item.id}
>
    {item.title}
</li>
