<div id="myNav" class="overlay bg-brand-primary-700 opacity-95">
    <div class="overlay-content px-5 flex flex-col gap-5 text-lg text-black">
        <!-- About use -->
        <div>
            <p class="services-parent flex gap-2 items-center mb-4 cursor-pointer font-medium">
                <span>Company</span>
                <ion-icon name="chevron-down-circle-outline" class="text-xl"></ion-icon>
            </p>
            <div class="services-child hidden flex-col gap-3 text-base pl-4 text-white">
                <a href="/about" class="">About Us</a>
                <a href="/privacy" class="">Privacy Policy</a>
                <a href="/terms" class="">Terms and Conditions</a>
                <a href="/aml-policy" class="">AML/KYC Policy</a>
            </div>
        </div>
        <div class="pb-3  border-b border-b-gray-600">
            <span class="pb-3 inline-block font-medium">Services</span>
            <ul class="list-disc flex flex-col px-6 text-base gap-2">
                <li><a href="/#send-money" class="link-items  border-b pb-1 text-white">Send Money</a></li>
                <li>
                    <a href="/#exchange-money" class="link-items  border-b pb-1 text-white">Exchange Currency</a>
                </li>
                <li><a href="/#add-money" class="link-items  border-b pb-1 text-white">Add Money</a></li>
            </ul>
        </div>
        <div class="pb-3  border-b border-b-gray-600">
            <span class="pb-3 inline-block font-medium">Support</span>
            <ul class="flex flex-col px-6 text-base gap-2">
                <li class="flex items-center gap-2">
                    <ion-icon name="call-outline" class="text-lg"></ion-icon>
                    <a href="tel:+14034535703" target="_blank" class="text-white">+1 403-453-5703</a>
                </li>
                <li class="flex items-center gap-2">
                    <ion-icon name="mail-outline" class="text-lg"></ion-icon>
                    <a href="mailto:care@banffpay.com" target="_blank" class="text-white">care@banffpay.com</a>
                </li>
                <li class="flex items-center gap-2">
                    <ion-icon name="logo-facebook" class="text-lg"></ion-icon>
                    <a
                        href="https://www.facebook.com/profile.php?id=61557032189245&mibextid=ZbWKwL"
                        target="_blank"
                        class="text-white">Facebook</a
                    >
                </li>
                <li class="flex items-center gap-2">
                    <ion-icon name="logo-instagram" class="text-lg"></ion-icon>
                    <a href="https://www.instagram.com/usebanffpay/" target="_blank" class="text-white"
                        >Instagram</a
                    >
                </li>
                <li class="flex items-center gap-2">
                    <ion-icon name="logo-twitter" class="text-lg"></ion-icon>
                    <a href="https://twitter.com/usebanffpay" target="_blank" class="text-white">X (Twitter)</a>
                </li>
            </ul>
        </div>
        <button
            class="self-start rounded-full bg-brand-primary-950 text-white py-4 px-8 font-semibold text-sm border-b border-b-gray-600"
        >
            <a
                href="https://forms.banffpay.com/cofor/form/Waitlist/formperma/3gfkggPKGMa3U8H3OWpOE_DkdPXJLJgyBtHl91gVA4g"
                title="Join Waitlist"
                target="_blank"
                onclick="zforms_open_window(this.href, 648, 700); return false">Download App</a
            >
        </button>
    </div>
</div>

<style>
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        /* background-color: rgb(0, 0, 0); */
        /* background-color: rgba(0, 0, 0, 0.9); */
        overflow-x: hidden;
        transition: 0.2s;
    }

    .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        /* text-align: center;
        margin-top: 30px; */
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    .hide {
        display: flex;
    }

    .active {
        background-color: #67c1ff;
        color: white;
    }

    .dropdown-container {
        display: none;
        background-color: #262626;
    }

    @media screen and (max-height: 450px) {
        .overlay a {
            font-size: 20px;
        }
        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }
</style>
