---
import { Image } from "astro:assets"

// import banffLogo from "@assets/banffpay-logo.png"
import arrowDown from "@assets/arrow-down.svg"

import NavBarOverlay from "./NavBarOverlay.astro"
---

<!-- TO BE INCLUDED AFTER AGREEMENT -->
<NavBarOverlay />
<div class="w-[90%] flex gap-4 justify-center md:justify-between items-center self-center z-10 fixed top-3">
    <a href="/" class="hidden md:inline-block w-full md:w-28 lg:w-36 xl:w-40 2xl:w-52 min-[1920px]:w-64">
        <img src="/banffpay-logo.png" alt="logo" class="w-auto" />
        <!-- <img src= alt="" srcset=""> -->
    </a>
    <nav class="bg-brand-primary-100 flex gap-4 justify-between items-center py-3 px-4 rounded-full w-full md:w-auto">
        <a href="/" class="w-32 md:hidden">
            <img src="/banffpay-logo.png" alt="logo" class="w-auto" />
            <!-- <img src= alt="" srcset=""> -->
        </a>
        <div class="flex gap-4 lg:gap-8 xl:gap-12 2xl:gap-16">
            <button id="servicesBtn" class="hidden md:flex gap-x-1.5 items-center relative cursor-pointer">
                <span class="text-base dropdown-span">Services</span>
                <Image
                    src={arrowDown}
                    alt="arrow down icon"
                    id="servicesBtn_arrow"
                    class="w-2.5 transition-all duration-300"
                />
                <nav
                    id="servicesBtn_dropdown"
                    class="dropdown-content transition-all duration-300 hidden absolute top-10 right-0 min-w-48 bg-white"
                >
                    <ul class="flex flex-col py-6 px-4 gap-3 text-gray-500">
                        <li>
                            <a href="/#send-money" class="scroll-items hover:border-b border-gray-500">Send money</a>
                        </li>
                        <li>
                            <a href="/#exchange-money" class="scroll-items hover:border-b border-gray-500"
                                >Exchange currency</a
                            >
                        </li>
                        <li>
                            <a href="/#multi-currency-wallet" class="scroll-items hover:border-b border-gray-500"
                                >Multi-currency Wallet</a
                            >
                        </li>
                        <li>
                            <a href="/#add-money" class="scroll-items hover:border-b border-gray-500">Add money</a>
                        </li>
                    </ul>
                </nav>
            </button>
            <div id="supportBtn" class="hidden md:flex gap-x-1.5 items-center relative cursor-pointer">
                <span class="text-base dropdown-span">Support</span>
                <Image
                    src={arrowDown}
                    alt="arrow down icon"
                    id="supportBtn_arrow"
                    class="w-2.5 transition-all duration-300"
                />
                <nav
                    id="supportBtn_dropdown"
                    class="dropdown-content transition-all duration-300 hidden absolute top-10 left-0 min-w-64 px-4 py-8 bg-white flex-col gap-4"
                >
                    <div>
                        <h3 class="font-medium pb-2 border-b">Talk to us</h3>
                        <!-- <p class="text-gray-500 text-sm pb-2 border-b">We will respond within 24 hours.</p> -->
                    </div>
                    <div class="flex flex-col gap-5">
                        <div class="flex gap-4 pb-2 border-b">
                            <ion-icon name="call-outline" class="text-2xl text-brand-primary-950"></ion-icon>
                            <div class="flex flex-col gap-0.5">
                                <p class="text-gray-400 font-medium text-sm">Call us on:</p>
                                <a href="tel:+14034535703" class="font-medium text-sm hover:underline transition-all"
                                    >+1 403-453-5703</a
                                >
                            </div>
                        </div>
                        <div class="flex gap-4 pb-2 border-b">
                            <ion-icon name="mail-outline" class="text-2xl text-brand-primary-950"></ion-icon>
                            <div class="flex flex-col gap-0.5">
                                <p class="text-gray-400 font-medium text-sm">Email us on:</p>
                                <a
                                    href="mailto:care@banffpay.com"
                                    class="font-medium text-sm hover:underline transition-all">care@banffpay.com</a
                                >
                            </div>
                        </div>
                        <div class="flex gap-4 pb-2 border-b">
                            <ion-icon name="logo-facebook" class="text-2xl text-brand-primary-950"></ion-icon>
                            <div class="flex flex-col gap-0.5">
                                <p class="text-gray-400 font-medium text-sm">Connect with us on:</p>
                                <a
                                    href="https://www.facebook.com/profile.php?id=61557032189245&mibextid=ZbWKwL"
                                    target="_blank"
                                    class="font-medium text-sm hover:underline transition-all">Facebook</a
                                >
                            </div>
                        </div>
                        <div class="flex gap-4 pb-2 border-b">
                            <ion-icon name="logo-instagram" class="text-2xl text-brand-primary-950"></ion-icon>
                            <div class="flex flex-col gap-0.5">
                                <p class="text-gray-400 font-medium text-sm">Connect with us on:</p>
                                <a
                                    href="https://www.instagram.com/usebanffpay/"
                                    target="_blank"
                                    class="font-medium text-sm hover:underline transition-all">Instagram</a
                                >
                            </div>
                        </div>
                        <div class="flex gap-4 pb-2 border-b">
                            <ion-icon name="logo-twitter" class="text-2xl text-brand-primary-950"></ion-icon>
                            <div class="flex flex-col gap-0.5">
                                <p class="text-gray-400 font-medium text-sm">Tweet us at:</p>
                                <a
                                    href="https://twitter.com/usebanffpay"
                                    target="_blank"
                                    class="font-medium text-sm hover:underline transition-all">Twitter</a
                                >
                            </div>
                        </div>
                        <div class="flex gap-4">
                            <!-- <Image src={iconMsg} alt="facebook icon" class="w-5" /> -->
                            <ion-icon name="paper-plane-outline" class="text-2xl text-brand-primary-950"></ion-icon>
                            <div class="flex flex-col gap-0.5">
                                <a
                                    href="https://forms.banffpay.com/cofor/form/Submitanenquiry/formperma/LHrDtHdNr1v6A8FZAkOeHFROYttVfp_z1Xi-rHlzbAA"
                                    title="Submit an enquiry"
                                    target="_blank"
                                    onclick="zforms_open_window(this.href, 648, 700); return false"
                                    class="font-medium text-base hover:underline transition-all">Submit an enquiry</a
                                >
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hidden md:flex gap-x-1.5 items-center">
                <a href="/about" class="text-base">About Us</a>
            </div>
        </div>
        <div class="hidden md:flex self-stretch gap-2">
            <a
                href="https://forms.banffpay.com/cofor/form/Waitlist/formperma/3gfkggPKGMa3U8H3OWpOE_DkdPXJLJgyBtHl91gVA4g"
                title="Join Waitlist"
                target="_blank"
                onclick="zforms_open_window(this.href, 648, 700); return false">
            <button class="rounded-full bg-brand-primary-950 py-3.5 px-4 text-white font-semibold text-base">
                Download App
            </button>
            </a>
        </div>
        <!-- TO BE INCLUDED AFTER AGREEMENT -->
        <ion-icon
            id="openMenu"
            name="menu-outline"
            class="block md:hidden self-center text-xl bg-brand-primary-950 text-white px-5 py-3 rounded-full"
        ></ion-icon>
    </nav>
    <div class="flex gap-3">
        <a
            href="https://forms.banffpay.com/cofor/form/Waitlist/formperma/3gfkggPKGMa3U8H3OWpOE_DkdPXJLJgyBtHl91gVA4g"
            title="Join Waitlist"
            target="_blank"
            onclick="zforms_open_window(this.href, 648, 700); return false"
        >
            <button
                class="hidden lg:block text-sm border-8 border-brand-primary-950 bg-white rounded-full py-2 px-6 self-stretch"
            >
                Log In
            </button>
        </a>
        <!-- change from hidden to flex & md: flex ?? -->
        <button
            id="languageBtn"
            class="hidden rounded-full bg-brand-primary-950 text-white items-center py-2 px-4 gap-1.5 relative"
        >
            <!-- <div class="rounded-full bg-gray-100 w-8 h-8 flex justify-center items-center">
                <ion-icon name="earth-outline" class="text-black w-8"></ion-icon>
            </div> -->
            <ion-icon name="globe-outline" class="text-brand-primary-100 w-6 h-6"></ion-icon>
            <span class="text-xs font-medium mr-2">ENGLISH</span>

            <nav
                id="language_dropdown"
                class="dropdown-content hidden transition-all duration-300 absolute top-[120%] right-0 min-w-28 bg-white rounded-xl"
            >
                <ul class="flex flex-col py-6 px-4 gap-4 text-black font-medium">
                    <li class="w-full">
                        <a href="#" class="pb-0.5 hover:border-b-2 border-b-slate-600">English</a>
                    </li>
                    <li>
                        <a href="#" class="pb-0.5 hover:border-b-2 border-b-slate-600">French</a>
                    </li>
                </ul>
            </nav>
        </button>
    </div>
</div>

<style>
    .show {
        display: flex;
    }
    .flip {
        transform: rotate(180deg);
    }
</style>
