---
// Supports weights 100-900
import "@fontsource-variable/onest"

import AppShowcase from "../components/AppShowcase.astro"
import Footer from "../components/Footer.astro"

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- FAVICON -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <!-- ZOHO PAGESENSE -->
        <!-- <script is:inline src="https://cdn.pagesense.io/js/banffpaylimited/99705dae87cf4a8890d187cd637b5059.js"></script> -->
        <title>{title}</title>
    </head>
    <body class="bg-brand-primary-50">
        <slot />
        <!-- BANFFPAY APP SHOWCASE -->
        <AppShowcase />
        <!-- FOOTER -->
        <Footer />
        <script src="../scripts/script.js"></script>
        <!-- ZOHO LIVE CHAT INTEGRATION -->
        <!-- <script>
            window.$zoho = window.$zoho || {}
            $zoho.salesiq = $zoho.salesiq || { ready: function () {} }
        </script><script
            id="zsiqscript"
            src="https://salesiq.zohopublic.com/widget?wc=siq4c307361a44ff60fab3a3605cc36d5a0e88a372b0b74e436089042e86cbeee59"
            defer></script> -->

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
