---
import BaseLayout from "@layouts/BaseLayout.astro"
import NavBar from "@components/NavBar.astro"

import { privacyData } from "@components/content"
import ListButton from "@components/ListButton.astro"
---

<BaseLayout title="BanffPay - Privacy Policy">
    <header class="bg-slate-50 flex flex-col gap-4 bg-75% pb-16 md:pb-20">
        <NavBar />
        <div class="flex flex-col gap-10 md:gap-20">
            <div class="self-center flex flex-col gap-12 items-center mt-20 mb-6 px-4">
                <div
                    class="rounded-full bg-white px-6 py-3 font-extrabold text-sm md:text-base uppercase"
                >
                    Privacy Policy
                </div>
                <h1 class="font-bold text-3xl xs:text-4xl md:text-6xl text-center max-w-sm md:max-w-4xl">
                    We are also on the lookout for your utmost Privacy
                </h1>
                <!-- <div class="rounded-full bg-gray-100 px-6 py-3 font-semibold text-sm">
                    Last Updated • 5 October 2023
                </div> -->
            </div>
        </div>
    </header>
    <div class="px-6 md:px-14 lg:px-28 py-10 md:py-14 grid lg:grid-cols-12 gap-10">
        <!-- Switch lg:hidden to lg:block at appropriate time -->
        <aside class="hidden lg:block col-span-3 relative pb-10">
            <nav class="sticky top-10 h-[80vh] overflow-auto">
                <ul class="flex flex-col gap-4">
                    {privacyData.map((item) => <ListButton item={item} />)}
                </ul>
            </nav>
        </aside>
        <main class="lg:col-span-9 flex flex-col gap-5">
            <section class="flex flex-col gap-4">
                <h2 class="text-2xl font-semibold text-black" id="introduction">Introduction</h2>
                <p class="text-gray-500">
                    At Banffpay, we take privacy and protection of your data very seriously and we are committed to
                    handling your information in an open and transparent manner and keeping your information secure. We
                    go above-and-beyond Canadian legal requirements in order to help protect your privacy. As a customer
                    of Banffpay, you can be assured that we treat your personal information with utmost care that
                    exceeds our obligations as a regulated Fintech and Money Services Business.
                </p>
            </section>
            <section class="flex flex-col gap-4">
                <h2 class="text-2xl font-semibold text-black" id="consent">Consent</h2>
                <p class="text-gray-500">
                    By visiting this website, our partners' websites, or providing your personal information when you
                    browse our website, register for an account, request for an exchange of currency, enter a
                    competition, promotion, survey or when you contact one of our employees, for example by telephone or
                    email, you accept and expressly consent to our use and disclosure of your personal information and
                    direct us to do so in the manner described in this Privacy Policy.
                </p>
            </section>
            <section class="flex flex-col gap-4">
                <h2 class="text-2xl font-semibold text-black" id="notice">Notice</h2>
                <p class="text-gray-500">
                    Please read this notice carefully, together with our Terms and Conditions and any other documents
                    referred to in it. Here we set out the basis on which any information we collect about you or from
                    you, or that you provide to us, will be processed by us and other parties in providing you with the
                    services accessed through the website, apps or over the phone. Banffpay (“our”, “us” and “we”)
                    commits to using your information only in accordance with the terms of this Privacy Policy.However,
                    Terms of Use shall govern if there is a conflict with this privacy policy.
                </p>
            </section>
            <section class="flex flex-col gap-4">
                <h2 class="text-2xl font-semibold text-black" id="information-we-collect">Information We Collect</h2>
                <p class="text-gray-500">
                    The personal information that you are asked to provide, and the reasons why you are asked to provide
                    it, will be made clear to you at the point we ask you to provide your personal information.
                    <ol class="list-decimal flex flex-col gap-6 px-4 lg:px-12 text-gray-500">
                        <li>
                            If you contact us directly, we may receive additional information about you such as your
                            name, email address, phone number, the contents of the message and/or attachments you may
                            send us, and any other information you may choose to provide.
                        </li>
                        <li>
                            When you register for a wallet, we may ask for your name, email address, (current mailing
                            address and telephone number), proof of identification, social media information (in some
                            cases, other basic information inclusive of age, date of birth, gender, interests, and zip
                            code.
                        </li>
                        <li>
                            The information provided may be used for legal and regulatory compliance, wallet setup,
                            confirmation delivery, provision of service information upon request, service requirements
                            including transaction processing and other maintenance. Subject to applicable law, Banffpay
                            may provide information to other external service providers of Banffpay (“Service
                            Providers”) who may collect, use, transfer, store or otherwise process it (collectively
                            'process') in various jurisdiction.
                        </li>
                    </ol>
                </p>
            </section>
            <section class="flex flex-col gap-4">
                <h2 class="text-2xl font-semibold text-black" id="how-we-collect">
                    How We Collect Your Personal Information
                </h2>
                <ol class="list-decimal flex flex-col gap-6 px-6 text-gray-500">
                    <li>
                        Information you provide to us: We may collect and store any information you provide to us when
                        you use Banffpay Services, including when you add information on our website, mobile platform,
                        add or update your account information, or dispute resolutions, or when you otherwise correspond
                        with us regarding Banffpay Services, participate in discussion boards or other social media
                        functions on our Website or App, enter a competition, promotion or survey, and when you report a
                        problem with our services. The information you give us may include your name, address, e-mail
                        address, phone number, financial information (including bank account information), payment
                        reason, geographical location, personal description and photograph. We may also need additional
                        commercial and/or identification information from you e.g., if you send or receive certain
                        high-value or high-volume transactions or as needed to comply with our anti-money laundering
                        obligations under applicable law.
                    </li>
                    <li>
                        Information from other sources: We may also obtain information about you from third parties such
                        as identity verification services and credit bureaus. This process is known as a “soft pull”. A
                        soft pull is restricted only to Name, Address, and Date of Birth, in order to match the
                        information found on the credit bureaus' database. The nature of the pull is that only you, as
                        the owner of your credit bureau report can see this inquiry. It does not affect your credit
                        score.
                    </li>
                    <li>
                        Information from social networks: If you log in to our services using your social media account
                        (for example, Facebook, Instagram) we will receive relevant information that is necessary to
                        enable our Services and authenticate you. The social media network will provide us with access
                        to certain information that you have provided to them, including your name, profile image and
                        e-mail address. We use such information, together with any other information you directly
                        provide to us when registering or using our Services, to create your account and to communicate
                        with you about the information, products and services that you request from us. You may also be
                        able to specifically request that we have access to the contacts in your social media account,
                        so that you can send a referral link to your family and friends. We will use, disclose and store
                        all of this information in accordance with this privacy policy.
                    </li>
                    <li>
                        Authentication and Fraud Detection: In order to help protect you from fraud and misuse of your
                        personal information, we may collect information about you and your interactions with Banffpay
                        Services.
                    </li>
                </ol>
            </section>
            <section class="flex flex-col gap-4 text-gray-500">
                <h2 class="text-2xl font-semibold text-black" id="how-we-use">
                    How We Use Your Information We Collect
                </h2>
                <p>
                    <span>We use the information we collect in various ways, among the following:</span>
                    <ol class="list-decimal flex flex-col gap-2 px-4 lg:px-12 text-gray-500">
                        <li>Provide Banffpay Money Transfer Services and customer support.</li>
                        <li>Process transactions and send notices about your transactions.</li>
                        <li>Verify your identity, including during account creation and password reset processes.</li>
                        <li>
                            Manage risk, or to detect, prevent, and/or remediate fraud or other potentially prohibited
                            or illegal activities.
                        </li>
                        <li>Detect, prevent or remediate violations of policies or applicable user agreements.</li>
                        <li>Improve Banffpay Services by customizing your user experience.</li>
                        <li>Measure the performance of Banffpay Services and improve their content and layout.</li>
                        <li>Manage and protect our information technology infrastructure.</li>
                        <li>
                            Provide targeted marketing and advertising, provide service update notices, and deliver
                            promotional offers based on your communication preferences.
                        </li>
                        <li>
                            Perform creditworthiness and solvency checks, compare information for accuracy and verify it
                            with third parties.
                        </li>
                        <li>Provide, operate, and maintain our services and platforms.</li>
                        <li>Improve, personalize, and expand our services and platforms</li>
                        <li>Understand and analyze how you use our services</li>
                        <li>Develop new products, services, features, and functionality</li>
                        <li>
                            Communicate with you, either directly or through one of our partners, including for customer
                            service, to provide you with updates and other information relating to the website, and for
                            marketing and promotional purposes
                        </li>
                        <li>Send you emails</li>
                        <li>Find and prevent fraud</li>
                    </ol>
                </p>
            </section>
            <section class="flex flex-col gap-4 text-gray-500">
                <h2 class="text-2xl font-semibold text-black" id="data-sharing">Data Sharing</h2>
                <p>
                    Banffpay will only share your information with another party with your consent. Third party
                    information sharing will only be done in methods outlined in this policy. Your information may be
                    shared with the recipients of funds transmitted through our company. With your knowledge information
                    may also be shared with credit reference organizations. Your information may also be accessible to
                    companies that are directly connected to Banffpay who play a specific role in assisting the delivery
                    of service to our customers. The information shared with these companies may only be used in the
                    event that it is needed to carry out services and transactions.
                </p>
                <p>In the scenarios listed below we may be obligated to disclose your personal information:</p>
                <ol class="list-decimal flex flex-col gap-2 px-4 lg:px-12 text-gray-500">
                    <li>
                        out of necessity to protect our rights or for the protection of you or others, for legal
                        purposes, fraud or other types of investigations.
                    </li>
                    <li>request of government or another regulatory board.</li>
                    <li>by court order, subpoena, etc.</li>
                    <li>with your permission.</li>
                    <li>change of existing conditions.</li>
                </ol>
                <p>
                    You will be notified via email, or through our website of any changes relating to Banffpay’s affairs
                    concerning mergers, acquisition, or the sale of assets. All such changes will be announced through
                    our website or via user email.
                </p>
                <p>
                    As it relates to the transfer of personal information overseas and to authorities with disparate
                    data protection measures we endeavor to take steps to safeguard your data.
                </p>
            </section>
            <section class="flex flex-col gap-4 text-gray-500">
                <h2 class="text-2xl font-semibold text-black" id="log-files">Log Files</h2>
                <p>
                    Banffpay follows a standard procedure of using log files. These files log visitors when they visit
                    websites. All hosting companies do this and are a part of hosting services' analytics. The
                    information collected by log files include internet protocol (IP) addresses, browser type, Internet
                    Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of
                    clicks. These are not linked to any information that is personally identifiable.
                </p>
                <p>
                    The purpose of the information is for analyzing trends, administering the site, tracking users'
                    movement on the website, and gathering demographic information.
                </p>
            </section>
            <section class="flex flex-col gap-4 text-gray-500">
                <h2 class="text-2xl font-semibold text-black" id="cookies">Cookies and Monitoring Mechanisms</h2>
                <p>
                    It is possible to manage cookie usage on your personal browser. You may work with or without cookies
                    within our website but operating with cookies disabled will restrict your ability to use some of our
                    features. In such a scenerio, you may find that your online experience is restricted. Cookies are
                    used to store user settings, preferences and authentication. We encourage you to view our cookies
                    policy for more information about opting out.
                </p>
                <p>
                    Banffpay uses cookies, tags, scripts, and beacons along with our partners, marketing and otherwise.
                    These technologies are also managed along with analytics, our affiliates or service providers.
                    Tracking technologies are utilized to identify trends for website moderation and management,
                    deciphering user website usage and collecting demographic data about the entire user base. Website
                    administration may receive timely reports in line with these technologies. Reports may be on the
                    individual basis, or as a combination of units.
                </p>
                <p>
                    As it relates to advertising, the above also applies. Banffpay partners with third parties for
                    internal (on our website) and external (on other sites) advertising. Third parties may use cookies
                    to collect data related to your web usage. As a result, you may receive targeted advertising
                    directly connected to personal web browsing.
                </p>
                <p>
                    It is possible to opt out if you do not wish to have your information used in this way. In most
                    cases, you will continue to receive non-specific advertisements. Website Widgets
                </p>
                <p>
                    Social media widgets have become increasingly popular making it easy for Internet users to access
                    mainstream sites via sites like ours.
                </p>
                <p>
                    Features include content sharing, the Facebook Like button, and Twitter options. These widgets make
                    it easy to use features attached to other sites while operating within our website. Users are
                    encouraged to note that personal information including your email address and other personal data is
                    sometimes collected through these widgets. You may be able to adjust the information collected by
                    widgets, but data collection is governed by policies attached to individual sites.
                </p>
            </section>
            <section class="flex flex-col gap-4 text-gray-500">
                <h2 class="text-2xl font-semibold text-black" id="information-security">Information Security</h2>
                <p>
                    Banffpay abides by industry standards and policies as it relates to user privacy and information
                    security, thus, users can be assured that information will be protected from the moment it is
                    submitted all the way through to being delivered to us for processing. Generally, data transmitted
                    via the Internet, or the usage of electronic storage poses risks and Banffpay cannot guarantee
                    absolute security. We will endeavor to do our part to ensure that your information remains safe.
                </p>
                <p>
                    Services rendered through our website are governed by our privacy regulations. It is important to us
                    that user privacy is respected, and personal information secured. Data submitted onto our site via
                    order forms is encrypted for your safety during transmission processes through socket layer
                    technology (SSL).
                </p>
                <p>
                    Banffpay accepts third party information under specific conditions. In the event that you provide
                    Banffpay with information about others you must show evidence of having the appropriate permission.
                </p>
            </section>
            <section class="flex flex-col gap-4 text-gray-500">
                <h2 class="text-2xl font-semibold text-black" id="third-party">Third Party Privacy Policies</h2>
                <p>
                    Banffpay's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you
                    to consult the respective Privacy Policies of these third-party ad servers for more detailed
                    information. It may include their practices and instructions about how to opt-out of certain
                    options.
                </p>
                <p>
                    You can choose to disable cookies through your individual browser options. To know more detailed
                    information about cookie management with specific web browsers, it can be found at the browsers'
                    respective websites.
                </p>
            </section>
            <section class="flex flex-col gap-4 text-gray-500">
                <h2 class="text-2xl font-semibold text-black" id="children-information">
                    A Special Note About Children Information
                </h2>
                <p>
                    Children are not eligible to use Banffpay Services. We respectfully ask that minors (persons under
                    the age of 18) do not submit any information to us or use Banffpay.
                </p>
            </section>
            <section class="flex flex-col gap-4 text-gray-500">
                <h2 class="text-2xl font-semibold text-black" id="access-and-corrections">Access And Corrections</h2>
                <p>
                    We want to have accurate information about our customers and users, and we want you to be able to
                    access the information we have collected about you. You can write to us to gain access to your
                    personal information. Customers and users shall clearly demonstrate who they are before divulging
                    personal information because we are mindful of attempts to impersonate people in order to gain
                    access to their personal information inappropriately.
                </p>
                <p>
                    If you would like to correct an error regarding your personal information, please use the provided
                    functionality within the Banffpay Platform or write to us with an explanation of the correction.
                </p>
            </section>
            <section class="flex flex-col gap-4 text-gray-500">
                <h2 class="text-2xl font-semibold text-black" id="how-long-we-keep">
                    How Long We Keep Your Personal Information?
                </h2>
                <p>
                    As a regulated financial institution, we keep your personal information to enable your continued use
                    of Banffpay Services and storage of your data extends beyond the closure of your account with us, as
                    it is required by Law. Your data is only accessed internally on a need-to-know basis, which is done
                    only if necessary.
                </p>
                <p>
                    Banffpay will always delete data that is no longer required by a relevant law or jurisdiction in
                    which we operate.
                </p>
            </section>
            <section class="flex flex-col gap-4 text-gray-500">
                <h2 class="text-2xl font-semibold text-black" id="policy-changes">Policy Changes</h2>
                <p>
                    This policy may be updated at any time. Users will either be notified of changes that may directly
                    affect them via the email address provided during sign up, by way of a website announcement, or
                    through a mobile link. These notifications will be transmitted prior to the change(s) taking effect.
                </p>
            </section>
            <section class="flex flex-col gap-4 text-gray-500">
                <h2 class="text-2xl font-semibold text-black" id="get-in-touch">Get In Touch</h2>
                <p>
                    If you have any questions or concerns about this Privacy Policy or our practices, please contact us
                    at <a href="mailto:care@banffpay.com" class="text-brand-primary-950 font-semibold hover:underline"
                        >care@banffpay.com</a
                    >
                </p>
            </section>
        </main>
    </div>

    <style>
        header {
            background-image: url("../../assets/banffpay_bg.png");
            background-position: center;
            background-repeat: no-repeat;
        }
        /* width */
        nav::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        nav::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        nav::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        nav::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>

    <script>
        const listItem = document.querySelectorAll(".link-buttons")
        const headings = document.querySelectorAll("h2")

        const toggleBackground = (current) => {
            listItem.forEach((item) => {
                item.classList.remove("bg-brand-primary-200", "text-brand-primary-950")
            })

            current.classList.add("bg-brand-primary-200", "text-brand-primary-950")
        }

        listItem.forEach((item) => {
            item.addEventListener("click", () => {
                toggleBackground(item)

                headings.forEach((heading) => {
                    if (heading.id === item.id) {
                        heading.scrollIntoView({ behavior: "smooth", block: "center" })
                    }
                })
            })
        })
    </script>
</BaseLayout>
